@media (max-width: 767px){
    #loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 300px;
        height: 225px;
        transform: translate(-50%,-50%);
        background: url('/static/img/fire.gif') no-repeat center center;
    }

    .featurette h1,h2,h3,h4,p {
        text-align: center;
    }

    .jumbotron h1 {
        font-size: 35px;
    }
}

@media (max-width: 575px) {
}

.chart-wrapper {
    border: 1px solid darkgrey;
}

.chart-wrapper .chart-title {
    background-color: darkslategray;
    color: white !important;
}

.dc-chart g.row text {
   fill: black;
   font-size: 12px;
}

#position-chart path {
   stroke: white;
   stroke-width: 4;
}

#complete-chart path {
   stroke: white;
   stroke-width: 4;
}

.carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
}

red {
    color: red
}

underline {
    text-decoration: underline red;
}

@media (min-width: 768px) {

    #loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 600px;
        height: 400px;
        transform: translate(-50%,-50%);
        background: url('/static/img/fire_lg.gif') no-repeat center center;
    }

    .jumbotron h1 {
        font-size: 65px;
    }
}

.nav-link{
    display: inline-flex;
    align-items: baseline;
}

.jumbotron {
    border-radius: 0;
}

.alert {
    border-radius: 0;
    margin: 0;
    position: fixed;
    z-index: 1;

    animation:alert 0.5s 1;
    -webkit-animation:alert 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay:10s;
    -webkit-animation-delay:10s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
}

@keyframes alert{
    from {opacity :1;}
    to {opacity :0;}
}

@-webkit-keyframes alert{
    from {opacity :1;}
    to {opacity :0;}
}

.jumbotron h1 {
    /*font-size: 65px;*/
    display: inline-block;
}
.jumbotron i {
    display: inline-block;
}

legend {
    margin-top: 5px;
}

.card-img-top {
    margin-top: 10px;
}

.card-sub-title {
    font-weight: 200;
}
.card-title {
    font-weight: 400;
}

.progress-bar-donation {
    background-color: green;
}