#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 300px;
    height: 225px;
    transform: translate(-50%,-50%);
    background: url('/static/img/squares.gif') no-repeat center center;
}

@media (max-width: 767px){
    #li_home {

    }
}

.chart-wrapper {
    border: 1px solid darkgrey;
}

.chart-wrapper .chart-title {
    background-color: darkslategray;
    color: white !important;
}

.dc-chart g.row text {
   fill: black;
   font-size: 12px;
}

#position-chart path {
   stroke: white;
   stroke-width: 4;
}

#complete-chart path {
   stroke: white;
   stroke-width: 4;
}

.carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
}

red {
    color: red
}

@media (min-width: 768px) {
    .jumbotron h1 {
        font-size: 65px;
    }
}
