{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block head_js %}
{% endblock %}
{% block content %}
<section>
    <h1>Credit Card On File</h1>
    <div class="col-md-6">
        <form action={% url 'cards'%} method="post">
            {% csrf_token %}
            {% if cards %}
                <table width="100%">
                    <tr>
                        <th>Type</th>
                        <th>Last 4</th>
                        <th>Expiration Date</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                {% for card in cards %}
                    <tr>
                        <td>{{ card.brand }}</td>
                        <td>{{ card.last4 }}</td>
                        <td>{{ card.exp_month }}/{{ card.exp_year }}</td>
                        <td><i style="color:green" class="glyphicon glyphicon-edit"></i></td>
                        <td><i style="color:black" class="glyphicon glyphicon-trash"></i></td>
                    </tr>
                {% endfor %}
                </table>
            {% endif %}
        </form>
    </div>
</section>
{% endblock %}