{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block head_js %}
{% endblock %}
{% block content %}
<div class="col-md-6 offset-md-3">
    <form action={% url 'add_card'%} method="post" id="card-form">
        <legend>Add Credit Card</legend>
        {% csrf_token %}
        <div class="form-row">
            <label for="card-element">
            Credit or debit card
            </label>
            <div id="card-element" class="form-control" style="background-color: lightcyan">
            <!-- a Stripe Element will be inserted here. -->
            </div>
            <!-- Used to display form errors -->
            <div id="card-errors" role="alert"></div>
        </div>
        <br>
        <input type="submit" class="submit btn btn-primary" value="Add Card">
    </form>
</div>
<script src="/static/js/stripe/stripe_token.js"></script>
{% endblock %}