{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="jumbotron" style="background: url('/static/img/cityscape.jpg') no-repeat center center; background-size: cover;">
    <h1>About Quo Vadimus</h1>  <i class="fas fa-globe"></i>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 card-deck">
            <div class="card align-items-center">
                <img class="card-img-top img-fluid" src="{% static 'img/employee/trager.png'%}">
                <div class="card-body text-center">
                    <h5 class="card-title">Calvin Trager</h5>
                    <h5 class="card-sub-title">CEO/Founder</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 card-deck">
            <div class="card align-items-center">
                <img class="card-img-top img-fluid" src="{% static 'img/employee/photo-richard.png'%}">
                <div class="card-body text-center">
                    <h5 style="display: inline-block" class="card-title">Richard Hendricks</h5>&nbsp;<i class="fab fa-pied-piper-hat pied-piper-style"></i>
                    <h5 class="card-sub-title">Chief Technical Officer</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 card-deck">
            <div class="card align-items-center">
                <img class="card-img-top img-fluid" src="{% static 'img/employee/photo-monica.png'%}">
                <div class="card-body text-center">
                    <h5 style="display: inline-block" class="card-title">Monica Hall</h5>&nbsp;<i class="fab fa-pied-piper-hat pied-piper-style"></i>
                    <h5 class="card-sub-title">Chief Financial Officer</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 card-deck">
            <div class="card align-items-center">
                <img class="card-img-top img-fluid" src="{% static 'img/employee/photo-jared.png'%}">
                <div class="card-body text-center">
                    <h5 style="display: inline-block" class="card-title">Jared Dunn</h5>&nbsp;<i class="fab fa-pied-piper-hat pied-piper-style"></i>
                    <h5 class="card-sub-title">Chief Operations Officer</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 card-deck">
            <div class="card align-items-center">
                <img class="card-img-top img-fluid" src="{% static 'img/employee/photo-dinesh.png'%}">
                <div class="card-body text-center">
                    <h5 style="display: inline-block" class="card-title">Dinesh Chugtai</h5>&nbsp;<i class="fab fa-pied-piper-hat pied-piper-style"></i>
                    <h5 class="card-sub-title">Senior Programmer</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 card-deck">
            <div class="card align-items-center">
                <img class="card-img-top img-fluid" src="{% static 'img/employee/photo-gilfoyle.png'%}">
                <div class="card-body text-center">
                    <h5 style="display: inline-block" class="card-title">Bertram Gilfoyle</h5>&nbsp;<i class="fab fa-pied-piper-hat pied-piper-style"></i>
                    <h5 class="card-sub-title">Chief Systems Architect</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}