{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Issue Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/font-awesome-4.7.0/css/font-awesome.css" %}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <script type="text/javascript">
        //Function to hide loader when page is done loading
        function showPage(){
            document.getElementById("loader").style.display = "none";
            document.getElementById("outer").style.display = "block";
            document.getElementById("outer").style.opacity = 1;
        }
    </script>
    {% block head_js %}{% endblock head_js %}
</head>
<body onload="showPage()">
    <div id="loader"></div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Issue Tracker</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/" data-toggle="tooltip" data-placement="bottom" title="Home"><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a href="/pages/about/" data-toggle="tooltip" data-placement="bottom" title="About Us"><i class="glyphicon glyphicon-globe"></i></a></li>
                    <li><a href="/pages/faq/" data-toggle="tooltip" data-placement="bottom" title="FAQ"><i class="glyphicon glyphicon-question-sign"></i></a></li>
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true"><i class="glyphicon glyphicon-tag" data-toggle="tooltip" data-placement="bottom" title="Bugs/Features"></i><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'tickets' subject_id=1 %}">Bugs</a></li>
                            <li><a href="{% url 'tickets' subject_id=2 %}">Features</a></li>
                        </ul>
                    </li>
                    <li><a href="/pages/contact/" data-toggle="tooltip" data-placement="bottom" title="Contact Us!"><i class="glyphicon glyphicon-envelope"></i></a></li>
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true"><i class="glyphicon glyphicon-stats" data-toggle="tooltip" data-placement="bottom" title="Reports"></i><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'report' subject_id=1 %}">Bugs Report</a></li>
                            <li><a href="{% url 'report' subject_id=2 %}">Features Report</a></li>
                        </ul>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true"><i class="glyphicon glyphicon-user"></i>  {{ user.username }}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'profile' %}">Profile</a></li>
                                <li><a href="{% url 'logout' %}">Log Out</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{% url 'register' %}" data-toggle="tooltip" data-placement="bottom" title="Register"><i class="glyphicon glyphicon-pencil"></i></a></li>
                        <li><a href="{% url 'login' %}" data-toggle="tooltip" data-placement="bottom" title="Login"><i class="glyphicon glyphicon-log-in"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div style="margin-bottom: 90px"></div>
    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div id="outer" class="container-fluid">
       {% block content %}
       {% endblock %}
    </div>
    <hr>
    <div class="footer">
        <small>Made By Marc Marquez</small>
    </div>

</body>
</html>