{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron" style="background: url('/static/img/drop.jpg') no-repeat center center;background-size: cover">
        <h1 style="color: white">Contact Us</h1>&nbsp; <i style="color: white" class="fas fa-envelope"></i>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="text-center"><i class="fas fa-envelope fa-5x"></i></div>
                <br>
                <h2 class="text-center">Email</h2>
                <table class="table" width="100%" style="margin: 10px">
                    <thead>
                        <th class="text-left">Department</th>
                        <th class="text-left">Email</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Front Desk</td>
                            <td>frontdesk@quovadimus.com</td>
                        </tr>
                        <tr>
                            <td>Tech Support</td>
                            <td>techsupport@quovadimus.com</td>
                        </tr>
                        <tr>
                            <td>Marketing</td>
                            <td>marketing@quovadimus.com</td>
                        </tr>
                        <tr>
                            <td>Joke of the Day</td>
                            <td>jokes@quovadimus.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div class="text-center"><i class="fas fa-phone fa-5x"></i></div>
                <br>
                <h2 class="text-center">Call</h2>
                <table class="table" width="100%" style="margin: 10px">
                    <thead>
                        <th class="text-left">Department</th>
                        <th class="text-left">Number</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Front Desk</td>
                            <td>555-555-5550</td>
                        </tr>
                        <tr>
                            <td>Tech Support</td>
                            <td>555-555-5551</td>
                        </tr>
                        <tr>
                            <td>Marketing</td>
                            <td>555-555-5552</td>
                        </tr>
                        <tr>
                            <td>Joke of the Day</td>
                            <td>555-555-5553</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div class="text-center"><i class="fas fa-comments fa-5x"></i></div>
                <br>
                <h2 class="text-center">Social Media</h2>
                <table class="table" width="100%" style="margin: 10px">
                    <thead>
                        <th class="text-center">Format</th>
                        <th class="text-left">Handle</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center"><i class="fab fa-twitter-square fa-2x"></i></td>
                            <td>@quovadimus</td>
                        </tr>
                        <tr>
                            <td class="text-center"><i class="fab fa-instagram fa-2x"></i></td>
                            <td>quovadimus</td>
                        </tr>
                        <tr>
                            <td class="text-center"><i class="fab fa-facebook-square fa-2x"></i></td>
                            <td>quovadimus</td>
                        </tr>
                        <tr>
                            <td class="text-center"><i class="fab fa-linkedin fa-2x"></i></td>
                            <td>quovadimus</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}