{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id='homeCarousel' class='carousel slide' data-ride='carousel'>
    <ol class='carousel-indicators'>
        <li data-target='#homeCarousel' data-slide-to='0' class='active'></li>
        <li data-target='#homeCarousel' data-slide-to='1'></li>
        <li data-target='#homeCarousel' data-slide-to='2'></li>
    </ol>
    <div class='carousel-inner'>
        <div class='carousel-item active'>
            <img class='d-block w-100 carousel-img' src='{% static 'img/cityscape.jpg' %}' alt='City Slide'>
            <div class='container'>
                <div class='carousel-caption'>
                    <h1 class='display-3'>Where are you going?</h1>
                    <p>Your company is off the ground and soaring, but something is missing.</p>
                </div>
            </div>
        </div>
        <div class='carousel-item'>
            <img class='d-block w-100 carousel-img' src='{% static 'img/road.jpg'%}' alt='Second slide'>
            <div class='carousel-caption'>
                <h1 class='display-3'>Need help navigating the road?</h1>
                <p>Are there constant obstacles blocking your company's success?</p>
            </div>
        </div>
        <div class='carousel-item'>
            <img class='d-block w-100 carousel-img' src='{% static 'img/drop.jpg'%}' alt='Third slide'>
            <div class='carousel-caption'>
                <h1 class='display-3'>We can get you there. It is your <red>Destiny.</red></h1>
                <p>by Quo Vadimus</p>
            </div>
        </div>
    </div>
    <!-- Carousel Controls -->
    <a class='carousel-control-prev' href='#homeCarousel' role='button' data-slide='prev'>
        <span class='carousel-control-prev-icon' aria-hidden='true'></span>
        <span class='sr-only'>Previous</span>
    </a>
    <a class='carousel-control-next' href='#homeCarousel' data-slide='next'>
        <span class='carousel-control-next-icon' aria-hidden='true'></span>
        <span class='sr-only'>Next</span>
    </a>
</div>
<br>
<div class='container' id='featuretteContainer'>
    <div class='row'>
        <div class='col-md-6'>
            <div><i class='fab fa-connectdevelop fa-5x'></i></div>
            <br>
            <h1>What is Destiny?</h1>
            <p>Destiny by Quo Vadimus launches your company into tomorrow.</p>
            <p>Our leading edge app connects all the dots between development and release into one
                simple and seamless experience.</p>
        </div>
        <div class='col-md-6'>
            <div><i class='fas fa-users fa-5x'></i></div>
            <br>
            <h1>What is <red>your</red> Destiny?</h1>
            <p>Destiny allows you to lead rather than focus on the minor details.</p>
            <p>You have big plans for your company.</p>
            <p>Let Destiny help fulfill yours.</p>
        </div>
    </div>
    <hr>
    <div class='d-flex d-flex-row justify-content-center'>
        <h2 style='font-weight: 700' class='text-center'><red>BREAKING NEWS</red></h2>
    </div>
    <div class='d-flex d-flex-row align-items-center'>
        <a class='p-2' href='http://www.piedpiper.com/' target='_blank'><i style='display: inline-block;color: seagreen' class='fab fa-pied-piper fa-5x text-center'></i></a>
        <p class='p-2'>Quo Vadimus is proud to announce that we have acquired Pied Piper. Pied Piper and its breakthrough "Middle-Out" compression technology is an amazing addition to the Quo Vadimus family.</p>
    </div>
    <hr>
    <div class='d-flex d-flex-row justify-content-center'>
        <h2 style='font-weight: 200' class='text-center'>CURRENT CUSTOMERS</h2>
    </div>
    <div class='d-flex d-flex-row justify-content-center'>
        <div class='p-2'><img src='{% static 'img/customers/stark_industries.jpg'%}' width='100px' height='100px' class='img-fluid rounded'></div>
        <div class='p-2'><img src='{% static 'img/customers/entertainment_720.jpg'%}' width='100px' height='100px' class='img-fluid rounded'></div>
        <div class='p-2'><img src='{% static 'img/customers/wayne_enterprises.jpg'%}' width='100px' height='100px' class='img-fluid rounded' style='border:1px solid black'></div>
        <div class='p-2'><a href='http://hooli.xyz' target='_blank'><img src='{% static 'img/customers/hooli.jpg'%}' width='100px' height='100px' class='img-fluid rounded'></a></div>
        <div class='p-2'><img src='{% static 'img/customers/dunder_mifflin.jpg'%}' width='100px' height='100px' class='img-fluid rounded'></div>
    </div>
    <hr>
    <div class='d-flex d-flex-row justify-content-center'>
        <h3 style='font-weight: 400' class='text-center'>Help make Destiny better. Click <a href='{% url 'faq' %}'>here</a> to learn how.</h3>
    </div>
    <hr>
    <div class='row featurette align-items-center h-100'>
        <div class='col-md-8'>
            <h1 class='display-3'>Fly Higher. <red>Faster.</red></h1>
            <h4>Backed by our industry leading infrastructure, you never have to worry about downtime.
                Our datacenter uses the latest technologies in servers, storage, networking, and security to provide you with the fastest and most reliable back-end solution.
            </h4>
            <br>
            <h3>Destiny will be there <red>whenever</red> and <red>wherever</red> you go.</h3>
        </div>
        <div class='col-md-4'>
            <img src='{% static 'img/featurette/datacenter.jpg'%}' class='img-responsive featurette-img'>
        </div>
    </div>
    <hr>
    <div class='row featurette align-items-center h-100'>
        <div class='col-md-8'>
            <h1 class='display-3'>Simple. <red>Reinvented.</red></h1>
            <h4>Destiny was designed to help and never impede your company's growth. We've built the app
                from the ground up, leaving no stone unturned. Our intuitive user interface lets you get things done in seconds, not hours.
            </h4>
        </div>
        <div class='col-md-4'>
            <img src='{% static 'img/featurette/black-zen-stones.jpg'%}' class='img-responsive featurette-img'>
        </div>
    </div>
    <hr>
    <div class='row featurette align-items-center h-100'>
        <div class='col-md-8'>
            <h1 class='display-3'>Mobility. Agility. <red>Destiny.</red></h1>
            <h4>The world is moving faster than ever. You need to pivot quickly and adjust to the needs of your customer.
                Destiny will be in lockstep with your every movement.
            </h4>
        </div>
        <div class='col-md-4'>
            <img src='{% static 'img/featurette/speed.jpg'%}' class='img-responsive featurette-img'>
        </div>
    </div>
</div>
{% endblock %}