{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <div><h1 style="display: inline-block">Profile</h1>&nbsp &nbsp<i style="display: inline-block;" class="fas fa-user"></i></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Account Details</h2>
            <p>You are logged in as {{ user.email }} </p>
            <p>You last logged in on {{ user.last_login }}</p>
            <!--p>Your stripe id: {#{ user.stripe_id }#} </p-->
            <hr>
            <h2 style="display: inline-block">Credit Card Details</h2>&nbsp;&nbsp;<span style="display: inline-block"><button style="vertical-align: bottom" class="btn btn-success" onclick="showAddCard()">Add a Credit Card</button></span>
            <!--a href="{#% url 'add_card' %#}">Add a credit card</a-->
        </div>
        <div class="col-md-6">
            <div id="addCardDiv" style="display: none;margin-top: 20px" class="align-items-center">
                <div>
                    <form action={% url 'add_card'%} method="post" id="card-form">
                        {% csrf_token %}
                        <div class="form-row">
                            <!--label for="card-element">
                            Credit or debit card
                            </label-->
                            <div id="card-element" class="form-control" style="background-color: lightcyan;">
                            <!-- a Stripe Element will be inserted here. -->
                            </div>
                            <!-- Used to display form errors -->
                            <div id="card-errors" role="alert"></div>
                        </div>
                        <button type="submit" class="submit btn btn-info" style="margin-top: 10px">Add Card</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            {% if cards %}
                <table class="table table-condensed table-responsive" width="100%">
                    <thead class="thead-light">
                        <tr>
                            <th>Type</th>
                            <th>Last 4</th>
                            <th>Expiration Date</th>
                            <th class="text-center">Set Default</th>
                            <th class="text-center">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for card in cards %}
                            <tr>
                                <td>{{ card.brand }}</td>
                                <td>{{ card.last4 }}</td>
                                <td>{{ card.exp_month }}/{{ card.exp_year }}</td>
                                {% if card.id != default_source %}
                                    <form action="{% url 'set_default_card' card_id=card.id %}" method="post">
                                        {% csrf_token %}
                                        <td align="center"><button style="border:0" type="submit"><i style="color:black" class="far fa-star"></i></button></td>
                                    </form>
                                {% else %}
                                    <td align="center"><i style="color:black" class="fas fa-star"></i></td>
                                {% endif %}
                                <form action="{% url 'delete_card' card_id=card.id %}" method="post">
                                    {% csrf_token %}
                                    <td align="center"><button style="border:0" type="submit"><i style="color:red" class="fas fa-trash"></i></button></td>
                                </form>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</div>
<script src="/static/js/stripe/stripe_token.js"></script>
{% endblock %}