{% extends "base.html" %}
{% load static %}
{#% load ticket_extras %#}
{#% load stripe_extras %#}
{% block head_js %}
    <script src="{% static 'js/bug_graph.js' %}"></script>
{% endblock head_js %}
{% block content %}
 <div class="jumbotron">
   <div><h1 style="display: inline-block">Dashboard</h1>&nbsp &nbsp<i style="display: inline-block;" class="fas fa-chart-bar"></i></div>
 </div>
 <div class="row">
    <!-- Month Bar Chart -->
    <div class="col-md-12">
        <div class="chart-wrapper">
            <div class="chart-title">
                Tickets Worked on by Month
            </div>
            <div class="chart-stage">
                <div id="monthChart"></div>
            </div>
        </div>
    </div>
    <!-- Month Bar Chart -->
 </div>
 <div class="row">
    <!-- Week Bar Chart -->
    <div class="col-md-12">
        <div class="chart-wrapper">
            <div class="chart-title">
                Tickets Worked on by Week
            </div>
            <div class="chart-stage">
                <div id="weekChart"></div>
            </div>
        </div>
    </div>
    <!-- Week Bar Chart -->
 </div>
 <div class="row">
    <!-- Day Bar Chart -->
    <div class="col-md-12">
        <div class="chart-wrapper">
            <div class="chart-title">
                Tickets Worked on by Day
            </div>
            <div class="chart-stage">
                <div id="dayChart"></div>
            </div>
        </div>
    </div>
    <!-- Day Bar Chart -->
 </div>
 <div class="row">
    <!-- Ticket Type Row Chart -->
    <div class="col-md-4 col-sm-12">
        <div class="chart-wrapper">
            <div class="chart-title">
                Ticket Type
            </div>
            <div class="chart-stage">
                <div id="ticketTypeChart"></div>
            </div>
        </div>
    </div>
    <!-- Ticket Type Row Chart -->
    <!-- Ticket Status Row Chart -->
    <div class="col-md-4 col-sm-12">
        <div class="chart-wrapper">
            <div class="chart-title">
                Ticket Status
            </div>
            <div class="chart-stage">
                <div id="statusChart"></div>
            </div>
        </div>
    </div>
    <!-- Ticket Status Row Chart -->
    <!-- Ticket Hours Row Chart -->
    <div class="col-md-4 col-sm-12">
        <div class="chart-wrapper">
            <div class="chart-title">
                Ticket Hours Logged
            </div>
            <div class="chart-stage">
                <div id="ticketHoursChart"></div>
            </div>
        </div>
    </div>
    <!-- Ticket Hours Row Chart -->
 </div>
 <div class="row">
    <!-- Total Votes Row Chart -->
    <div class="col-md-4 col-sm-12">
        <div class="chart-wrapper">
            <div class="chart-title">
                Total Votes
            </div>
            <div class="chart-stage">
                <div id="votesChart"></div>
            </div>
        </div>
    </div>
    <!-- Total Votes Row Chart -->
 </div>
{% endblock %}