{% extends "base.html" %}
{% load static %}
{% block head_js %}
    <script src="{% static 'js/crossfilter.js' %}"></script>
    <script src="{% static 'js/d3.js' %}"></script>
    <script src="{% static 'js/dc.js' %}"></script>
    <script src="{% static 'js/queue.js' %}"></script>
    <script src="{% static "js/keen.min.js" %}"></script>
    <script src="{% static 'js/bug_graph.js' %}"></script>
{% endblock head_js %}
{% block content %}
 <div class="jumbotron" style="background: url('/static/img/charting.jpg') no-repeat center center;background-size: cover;">
    <h1 style="display: inline-block;color: white;">Dashboard</h1>&nbsp &nbsp<i style="display: inline-block;color: white;" class="fas fa-chart-bar"></i>
 </div>
 <div class="row">
    <!-- Focus Bar Chart -->
    <div class="col-md-12">
        <div class="chart-wrapper">
            <div class="chart-title">
                Ticket History
            </div>
            <div class="chart-stage">
                <div id="focusChart" style="width: 100%"></div>
            </div>
        </div>
    </div>
    <!-- Focus Bar Chart -->
 </div>
 <div class="row">
    <!-- Overview Bar Chart -->
    <div class="col-md-12">
        <div class="chart-wrapper">
            <!--div class="chart-title">
                Tickets Worked on by Day
            </div-->
            <div class="chart-stage">
                <div id="overviewChart" style="width: 100%"></div>
            </div>
        </div>
    </div>
    <!-- Overview Bar Chart -->
 </div>
 <div class="row">
    <!-- Ticket Type Row Chart -->
    <div class="col-md-6">
        <div class="chart-wrapper">
            <div class="chart-title">
                Ticket Type
            </div>
            <div class="chart-stage">
                <div id="ticketTypeChart" style="width: 100%"></div>
            </div>
        </div>
    </div>
    <!-- Ticket Type Row Chart -->
    <!-- Ticket Status Row Chart -->
    <div class="col-md-6">
        <div class="chart-wrapper">
            <div class="chart-title">
                Ticket Status
            </div>
            <div class="chart-stage">
                <div id="statusChart" style="width: 100%"></div>
            </div>
        </div>
    </div>
    <!-- Ticket Status Row Chart -->
 </div>
 <div class="row">
    <!-- Ticket Hours Row Chart -->
    <div class="col-md-12">
        <div class="chart-wrapper">
            <div class="chart-title">
                Ticket Hours Logged
            </div>
            <div class="chart-stage">
                <div id="ticketHoursChart" style="width: 100%"></div>
            </div>
        </div>
    </div>
    <!-- Ticket Hours Row Chart -->
 </div>
{% endblock %}