{% extends "base.html" %}
{% load ticket_extras %}
{% load bootstrap_tags %}
{% block content %}
<section class="subject">
    <table width="100%">
        <tr>
            <th></th>
            <th>Tickets</th>
            <th>Posts</th>
        </tr>
        {% for subject in subjects %}
        <tr>
            <td>
                <h2><a href="{% url "tickets" subject.id %}">{{ subject.name }}</a></h2>
                <p>
                    <a href="{% url "tickets" subject.id %}">
                    {% autoescape off %}{{ subject.description }}{% endautoescape %}
                    </a>
                </p>
            </td>
            <td>{{ subject.tickets.count }}</td>
            <td>{{ subject|get_total_subject_posts }}</td>
        </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}