{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% block head_js %}
<script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript">
 tinyMCE.init({
   mode: "textareas",
   theme: "modern",
   plugins: "paste",
});
</script>
{% endblock %}
{% block content %}
 <section>
   <div class="col-md-9">
     <form method="post" action="{{ form_action }}">
       {% csrf_token %}
       {#% if post.user == user or user.is_staff %#}
           {#% if post_form.instance.id == None %#}
            {#{ status_form|as_bootstrap }#}
           {#% endif %#}
           {#% if donation_goal_form.instance.id == None %#}
            {#{ donation_goal_form|as_bootstrap }#}
           {#% endif %#}
       {#% endif %#}
       {{ post_form|as_bootstrap }}
       <div class="form-group">
         <button type="submit" class="btn btn-success">{{button_text}}</button>
         <button type="reset" class="btn btn-info">Reset</button>
         <!--a href="{#% url 'ticket' ticket.id %#}"><button class="btn btn-default">Back to Ticket</button></a-->
       </div>
     </form>
   </div>
 </section>
{% endblock %}