{% load ticket_extras %}
{% load bootstrap_tags %}

<section class='ticketItem'>
    <tr>
        <td class='min-tablet'>
            <p>#{{ ticket.id }}</p>
        </td>
        <td class='all'>
            <a href='{% url 'ticket' ticket.id %}' data-toggle='tooltip' data-placement='auto' data-html='true' title='{{ ticket.description | truncatechars:200  }}'>
            <p>{{ ticket.name | striptags }}</p>
            </a>
        </td>
        <td class='min-tablet-l'>
            <p>{{ ticket.user }}</p>
        </td>
        <td class='desktop'>
            <p>{{ ticket.posts.last.user }}</p>
        </td>
        <td class='text-center min-tablet-l'>
            <p>{{ ticket.posts.last.created_at|date:'m/d/Y' }}</p>
        </td>
        <td class='all'>
            <div id='statusLabel' class='label label-default' style='background-color:{{ ticket.status|get_label_color }};color:white;font-size: medium;text-align: center'>{{ ticket.status }}</div>
        </td>
        {% if user.is_authenticated %}
        <td class='text-center min-tablet-p'>
            {% if ticket.status != 'CLOSED' %}
                {% if subject.name == 'Feature'%}
                    <a href='{% url 'custom_donate' ticket.id subject.id%}'><button class='btn btn-success'>Donate</button></a>
                {% else %}
                    {% autoescape off %}
                    {% user_vote_button ticket subject user %}
                    {% endautoescape %}
                {% endif %}
            {% endif %}
        </td>
        {% endif %}
    </tr>
</section>