{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}
 
{% block head_js %}
    <script type="text/javascript" src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="application/javascript">
        tinyMCE.init({mode: "textareas", theme: 'modern', plugins: 'paste'})
    </script>
{% endblock %}


{% block content %}
    <section>
       <div class="col-md-9">
           <form method="post" action="{{ form_action }}">
               {% csrf_token %}
               <div class="form-group">
                   {{ ticket_form | as_bootstrap }}
                   <hr>
                   {{ supplement_form | as_bootstrap }}
               </div>
               <div class="form-group">
                   <button type="submit" class="btn btn-info">{{ button_text }}</button>
               </div>
           </form>
       </div>
    </section>
{% endblock %}