{% load ticket_extras %}
{% load bootstrap_tags %}
<section class="ticket">
    <!--header>
        <table width="100%"-->

            <tr style="border: 1px solid black">
                <td>
                    <a href="{% url 'ticket' ticket.id %}"><p>{{ ticket.name }}</p></a>
                </td>
                <td>
                    <p>{{ ticket.description | striptags | truncatechars:100 }}</p>
                </td>
                <td>
                    <p>{{ ticket.posts.last.created_at }}</p>
                </td>
                <td>
                    <p>{{ ticket.user }}</p>
                </td>
                <td>
                    <p>{{ ticket.status }}</p>
                </td>
                <td class="text-center">
                    {% if user.is_authenticated %}
                        {% if subject.name == 'Feature'%}
                            <form action={% url 'donate' ticket.id subject.id %} method="post">
                                {% csrf_token %}
                                <input type="submit" class="submit" value="Donate $10">
                            </form>
                        {% else %}
                            {% autoescape off %}
                            {% user_vote_button ticket subject user %}
                            {% endautoescape %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        <!--/table>

    </header-->

</section>