{% extends "base.html" %}
{% load ticket_extras %}
{% load stripe_extras %}
{#% block head_js %#}
    <!--script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script-->
{#% endblock head_js %#}
{% block content %}
<div class="jumbotron" style="background: url('/static/img/tracking.jpg') no-repeat center center;background-size: cover;">
    <h1 style="color: white">{{ subject.name }} Tracker</h1>&nbsp;&nbsp;<i class="fas fa-ticket-alt" style="color: white"></i>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {% if user.is_authenticated %}
                <a href="{% url 'new_ticket' subject.id %}" class="btn btn-primary">New {{ subject.name }} Ticket</a>
            {% endif %}
            <hr>
            <table class="table table-responsive-xs table-hover table-no-bordered" data-toggle="table" data-pagination="true" data-search="true">
            <!--table class="table table-responsive-xs table-hover table-no-bordered"-->
                <thead class="thead-light">
                    <th class="d-none d-sm-table-cell">Id</th>
                    <th data-sortable="true" data-field="title">Title</th>
                    <!--th></th>Title</th-->
                    <th class="d-none d-sm-table-cell">Description</th>
                    <th class="d-none d-sm-table-cell" data-sortable="true" data-field="reporter">Reported By</th>
                    <!--th class="d-none d-sm-table-cell">Reported By</th-->
                    <th class="d-none d-sm-table-cell" data-sortable="true" data-field="lastpostby">Last Post By</th>
                    <!--th class="d-none d-sm-table-cell">Last Post By</th-->
                    <th data-sortable="true" data-field="updated">Last Updated</th>
                    <!--th data-sortable="true" data-field="updated">Last Updated</th-->
                    <th class= "text-center" data-sortable="true" data-field="status">Status</th>
                    <!--th class= "text-center">Status</th-->
                    {% if subject.name == 'Feature'%}
                        <th class="text-center">Donate</th>
                    {% else %}
                        <th class="text-center">Upvote</th>
                    {% endif %}
                </thead>
                <tbody>
                {% for ticket in subject.tickets.all %}
                    {% include "forum/ticket_item.html" %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}