{% extends "base.html" %}
{% load staticfiles %}
{#% load ticket_extras %#}
{% block content %}

   <div class="row header">
       <div class="container">
           <span>
               <h2 class="pull-left">{{ ticket.name }}</h2>
               {% if user.is_authenticated %}
                   <a href="{% url 'new_post' ticket.id %}" class="btn btn-primary pull-right">New post</a>
               {% endif %}
           </span>
           <div class="col-md-12">
               <table class="table">
                   <tbody>
                   <tr>
                       <th>DESCRIPTION</th>
                   </tr>
                   <tr>
                       <td>{{ ticket.description | striptags }}</td>
                   </tr>
                   <tr>
                       <th>CREATED</th>
                       <th>OWNER</th>
                       <th>LAST POST BY</th>
                       <th>STATUS</th>
                   </tr>
                   <tr>
                       <!--td-->
                           <!--time datetime="{#{ ticket.created_at }#}">
                           </time-->
                       <!--/td-->
                       <td>{{ ticket.created_at }}</td>
                       <td>{{ ticket.user.username }}</td>
                       <td>{{ ticket.posts.last.user.username }}</td>
                       <td>{{ ticket.status }}</td>
                   </tr>
                   </tbody>
               </table>
           </div>
       </div>
   </div>
   <div class="row">
       <div class="container">
           {% for post in ticket.posts.all %}
               {% include "forum/post.html" %}
           {% endfor %}
       </div>
   </div>
{% endblock %}