{% extends "base.html" %}
{% load staticfiles %}
{#% load ticket_extras %#}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>{{ ticket.name }}</h2>
        </div>
        <div class="col-md-12">
            <table class="table">
                <tbody>
                    <tr>
                        <th>DESCRIPTION</th>
                    </tr>
                    <tr>
                        <td>{{ ticket.description | striptags }}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table">
                <tbody>
                    {% if ticket.subject.name == 'Feature' %}
                        <tr>
                            <th>DONATION GOAL</th>
                            <th>TOTAL DONATED</th>
                        </tr>
                        <tr>
                            <td>${{ ticket.feature.donation_goal }}</td>
                            <td>${{ ticket.feature.total_donations }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <tbody>
                    <tr>
                        <th>CREATED</th>
                        <th>OWNER</th>
                    </tr>
                    <tr>
                        <td>{{ ticket.created_at }}</td>
                        <td>{{ ticket.user.username }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <tbody>
                    <tr>
                        <th>LAST POST BY</th>
                        <th>STATUS</th>
                    </tr>
                    <tr>
                        <td>{{ ticket.posts.last.user.username }}</td>
                        <td>{{ ticket.status }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span>
                {% if user.is_staff %}
                    <a href="{% url 'edit_ticket' ticket.id %}" class="btn btn-info">Update ticket</a>
                {% endif %}
                {% if user.is_authenticated %}
                    <a href="{% url 'new_post' ticket.id %}" class="btn btn-primary">Add post</a>
                    <!--a href="{#% url 'cast_vote' ticket.id ticket.subject.id %#}" class="btn btn-success">Add my vote!</a-->
                {% endif %}
            </span>
        </div>
    </div>
    <br>
    <div class="row">
        {% for post in ticket.posts.all %}
            {% include "forum/post.html" %}
        {% endfor %}
    </div>
</div>
{% endblock %}