{% extends 'base.html' %}
{% load static %}
{% load ticket_extras %}
{% load stripe_extras %}
{% block head_js %}
    <script src='{% static 'js/intro.js' %}'></script>
{% endblock head_js %}
{% block content %}
<div class='jumbotron' style="background: url('/static/img/jumbotrons/tracking.jpg') no-repeat center center; background-size: cover;">
    <h1>{{ subject.name }} Tracker</h1>&nbsp;&nbsp;<i class='fas fa-ticket-alt'></i>
</div>
<div class='container-fluid'>
    <div class='row'>
        <div class='col-md-12'>
            {% if user.is_authenticated %}
            <a href='{% url 'new_ticket' subject.id %}' class='btn btn-success' data-step='2'
               data-intro='Click here to let us know about a new {{ subject.name | lower }}.'>
                New {{ subject.name }} Ticket</a>
            <button class='btn btn-info' type='button' onclick='introJs().start();' data-step='1'
                data-intro='Welcome to our Issue Tracker. You are a vital part of making Destiny better and we
                want to hear from you! Add a new {{ subject.name | lower }}. Vote on existing
                {{ subject.name | lower }}s. Communicate with our dev team. (Login Required)'
                data-position='bottom'>Take the tour</button>
            {% else %}
            <a href='{% url 'login' %}?next={{ request.path }}' class='btn btn-success'>Log in to add a new {{ subject.name }} Ticket</a>
            {% endif %}
            <hr>
            <table id='ticketTable' class='table table-hover table-striped display responsive table-no-bordered' style='width: 100%'>
                <thead class='thead-light'>
                    <th class='min-tablet'>Id</th>
                    <th class='all' data-step='3' data-intro='Click on the title of an existing {{ subject.name | lower }} to see a more detailed view where you can post a comment to our dev team or communicate with other users.'>Title</th>
                    <th class='min-tablet-l'>Reported By</th>
                    <th class='desktop'>Last Post By</th>
                    <th class='text-center min-tablet-l'>Last Updated</th>
                    <th class='text-center all' data-step='4' data-intro='Click on the arrows to sort the columns and help you find what you are looking for.'>Status</th>
                    {% if user.is_authenticated %}
                        {% if subject.name == 'Feature'%}
                        <th class='text-center min-tablet-p' data-step='5' data-intro='Click to donate towards a particular feature. Once the donation goal is achieved, we will get to work implementing that feature.'>Donate</th>
                        {% else %}
                        <th class='text-center min-tablet-p' data-step='5' data-intro='Click to vote on bugs that you would like to see fixed. Each user is eligible to vote once per bug.'>Vote</th>
                        {% endif %}
                    {% endif %}
                </thead>
                <tbody>
                {% for ticket in subject.tickets.all %}
                    {% include 'forum/ticket_item.html' %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}